In [3]:
# adding coloumns 
import pandas as pd

data={
    "name":["aaqib","ahmed","khan","allen","alina","nemo"],
    "salary":[20000,30000,2122,100000,56000,40000],
    "age":[11,22,32,11,34,54],
    "performance score":[23,67,87,65,77,87]

}
df=pd.DataFrame(data)
#  square brackets df("coloumn name") some data
print(df)
df["bonus"]=df["salary"] *0.1
print(df)

    name  salary  age  performance score
0  aaqib   20000   11                 23
1  ahmed   30000   22                 67
2   khan    2122   32                 87
3  allen  100000   11                 65
4  alina   56000   34                 77
5   nemo   40000   54                 87
    name  salary  age  performance score    bonus
0  aaqib   20000   11                 23   2000.0
1  ahmed   30000   22                 67   3000.0
2   khan    2122   32                 87    212.2
3  allen  100000   11                 65  10000.0
4  alina   56000   34                 77   5600.0
5   nemo   40000   54                 87   4000.0

In [5]:
# adding coloumns 

# using insert
# df.(loc,"coloumn name",some_data)
import pandas as pd

data={
    "name":["aaqib","ahmed","khan","allen","alina","nemo"],
    "salary":[20000,30000,2122,100000,56000,40000],
    "age":[11,22,32,11,34,54],
    "performance score":[23,67,87,65,77,87]

}
df=pd.DataFrame(data)
#  square brackets df("coloumn name") some data
print(df)
df["bonus"]=df["salary"] *0.1
print(df)

df.insert(0,"employee id",[10,20,30,40,50,600])
print(df)

    name  salary  age  performance score
0  aaqib   20000   11                 23
1  ahmed   30000   22                 67
2   khan    2122   32                 87
3  allen  100000   11                 65
4  alina   56000   34                 77
5   nemo   40000   54                 87
    name  salary  age  performance score    bonus
0  aaqib   20000   11                 23   2000.0
1  ahmed   30000   22                 67   3000.0
2   khan    2122   32                 87    212.2
3  allen  100000   11                 65  10000.0
4  alina   56000   34                 77   5600.0
5   nemo   40000   54                 87   4000.0
   employee id   name  salary  age  performance score    bonus
0           10  aaqib   20000   11                 23   2000.0
1           20  ahmed   30000   22                 67   3000.0
2           30   khan    2122   32                 87    212.2
3           40  allen  100000   11                 65  10000.0
4           50  alina   56000   34                 77   5600.0
5          600   nemo   40000   54                 87   4000.0