In [4]:
import pandas as pd

data={
    "name":["aaqib","ahmed",None,"allen","alina","nemo"],
    "salary":[20000,None,2122,100000,56000,40000],
    "age":[11,22,32,None,34,54],
    "performance score":[23,None,87,65,77,87]

}
df=pd.DataFrame(data)
print(df)
print(df.isnull().sum())

    name    salary   age  performance score
0  aaqib   20000.0  11.0               23.0
1  ahmed       NaN  22.0                NaN
2   None    2122.0  32.0               87.0
3  allen  100000.0   NaN               65.0
4  alina   56000.0  34.0               77.0
5   nemo   40000.0  54.0               87.0
name                 1
salary               1
age                  1
performance score    1
dtype: int64