In [1]:
# drop method
import pandas as pd

data={
    "name":["aaqib","ahmed","khan","allen","alina","nemo"],
    "salary":[20000,30000,2122,100000,56000,40000],
    "age":[11,22,32,11,34,54],
    "performance score":[23,67,87,65,77,87]

}
df=pd.DataFrame(data)
print(df)
# df.drop(columns=["columnsname"],inplace=true)
df.drop(columns=["performance score"],inplace=True)
print("modified data after removing column")
print(df)

    name  salary  age  performance score
0  aaqib   20000   11                 23
1  ahmed   30000   22                 67
2   khan    2122   32                 87
3  allen  100000   11                 65
4  alina   56000   34                 77
5   nemo   40000   54                 87
modified data after removing column
    name  salary  age
0  aaqib   20000   11
1  ahmed   30000   22
2   khan    2122   32
3  allen  100000   11
4  alina   56000   34
5   nemo   40000   54