In [4]:
import pandas as pd
data={
    "name":["aaqib","ahmed","khan","allen","alina","nemo"],
    "salary":[20000,30000,2122,100000,56000,40000],
    "age":[11,22,32,11,34,54],
    "performance score":[23,67,87,65,77,87]

}
df=pd.DataFrame(data)
print(df)
# .loc[]
# df.loc[row_index,"column name"] =new value
df.loc[0,'salary']=55000
print(df)

    name  salary  age  performance score
0  aaqib   20000   11                 23
1  ahmed   30000   22                 67
2   khan    2122   32                 87
3  allen  100000   11                 65
4  alina   56000   34                 77
5   nemo   40000   54                 87
    name  salary  age  performance score
0  aaqib   55000   11                 23
1  ahmed   30000   22                 67
2   khan    2122   32                 87
3  allen  100000   11                 65
4  alina   56000   34                 77
5   nemo   40000   54                 87